body {
    margin: 2px;
  }
  
  .chatapp-container {
    border: 1px solid greenyellow;
    border-radius: 15px 15px 0px 0px;
  }
  
  .chatapp-header {
    position: relative;
    width: 94%;
    z-index: 1;
    background-color: #35CCE6;
    color: white;
    font-family: system-ui;
    padding: 10px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
  }
  
  .chatapp-messages-container {
    height: 333px;
    margin-top: 0px;
    overflow-y: scroll;
  }
  
  .chatapp-messages {
    padding: 19px;
  }
  
  .chatapp-response-container {
    position: relative;
  }
  
  .chatapp-response {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 0px 10px;
  }
  
  .chatapp-response::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid cadetblue;
    border-top: 10px solid cadetblue;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 0px;
  }
  
  .chatapp-response-text {
    color: white;
    font-family: sans-serif;
  }
  
  .chatapp-response-text p {
    font-size: x-large;
    font-weight: bold;
  }
  
  .chatapp-response-choices {
    display: inline-flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .chatapp-response-choice {
    background-color: antiquewhite;
    color: black;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 2px 3px darkslategrey;
    cursor: pointer;
  }
  
  .chatapp-user-message {
    background-color: #3a9161;
    padding: 10px;
    border-radius: 10px 0px;
    margin-bottom: 17px;
    text-align: right;
    color: white;
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
  }
  
  .chatapp-user-message::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #3a9161;
    border-right: 10px solid transparent;
    border-top: 10px solid #3a9161;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 0px;
  }
  
  .chatbot-widget-container {
    position: absolute;
    top: 95%;
    right: 3%;
  }

  .width {
    width: 100%;
    background-color: red;
  }

  .chatbot-container {
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    top: 41%;
    right: 3%;
  }