{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatbotPoc</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block link %}
    {% endblock link %}
</head>
<body>
    <nav>
        <div class="brand">ChatBot POC</div>
        <div><a href="{% url 'main:list' %}">Show chatbots</a></div>
        <div class="user">
            {% if request.user.is_authenticated %}
            <span>{{ request.user.username }}</span>&nbsp;
            <a href="{% url 'user:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'user:login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container mt-100">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block script %}
    {% endblock script %}
</body>
</html>