{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="create-button-container">
    <a
        class="btn btn-outline-primary"
        style="font-weight: bold"
        href="{% url 'main:create' %}"
        ><span>+</span> Create Chat</a
    >
</div>
{% for obj in object_list %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'main:edit-chatbot' pk=obj.pk %}"
            ><div class="chat-title">{{ obj.title }}</div></a
        >
        <input style="width: 85%;" id="foo" value="http://localhost:8000/chatbot/{{obj.id}}/" />
        <p class="help-text">Copy the url </p>
    </li>
</ul>
{% empty %}
<h3>You don't have created any chats</h3>
{% endfor %} {% endblock content %}
{% block script %}
<script src="{% static 'js/clipboard.min.js' %}"></script>
{% endblock script %}
